.navButton {
    display: inline;
}

.active-navText {
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 5px 5px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: #C93535;
    box-shadow: gray;
    text-shadow: indianred;
    color: white;
}

.navText:link {
    color: white;
}

.navText:hover {
    border-width: 4px;
    animation: pulse 0.9s infinite;
    
}

@keyframes pulse {
	0% {
		padding: 15px;
	}

	50% {
		padding: 20px;
	}

	100% {
		padding: 15px;
	}
}

@keyframes rotate {
	0% {

        transform: scale(1, 1) rotate(0deg);
	}

	25% {
        transform: scale(1.15, 1.15) rotate(3deg);
	}

	50% {
        
        transform: scale(1, 1) rotate(0deg);
    }
    
    75% {
        
        transform: scale(1.15, 1.15) rotate(-3deg);
    }

    100% {
        
        transform: scale(1, 1) rotate(0deg);
    }
}

.logoImg:hover {
    opacity: 80%;
    animation: rotate 0.8s infinite cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.navText {
    
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin: 5px 5px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #C93535;
    box-shadow: gray;
    text-shadow: indianred;
    color: white;

}

.navContainer {
    background-color: #222630;
    padding: 10px;
    padding-inline-start: 0px;
    margin: 0px;
    
} 

.logoGame {
    display: inline-block;
    height: 200px;
}

.logoImg {
    display: block;
}




