.navButton {
    list-style-type: none;
    display: inline;
    margin: 5px 5px;
    background-color: aqua;
    padding: 5px;
}

.navContainer {
    background-color: gray;
    padding: 10px;
    padding-inline-start: 0px;
} 

.logoGame {
    height: 150px;
}

