.divEx {
    opacity: 70%;

    background-color: white;
    display: block;
    block-size: fit-content;
    width: fit-content;
    padding: 20px;
    margin: 20px;
    border: solid;
    border-color: #D3D3D3;
    border-width: 2px;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    font-family: 'Pangolin', cursive;
    text-align: center;
}

.input-validation {
        color: red;
        font-weight: bold;
        max-width: 100%;
}     

.center {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("lol.jpg");
    background-size: 100%;
    display: block;
    background-attachment: fixed;
    z-index: -1;

}

input {
        display: block;
        margin: 10px;
        
}


@keyframes pulse {
	0% {
        padding: 15px;
        margin: 25px;
	}

	50% {
        padding: 20px;
        margin: 20px;
	}

	100% {
        padding: 15px;
        margin: 25px;
	}
}

